<div class=background>
  <div class="container">
    <!-- Card do produto que está a venda -->
      <div class="text-center">
        <h1>{{produto.nome | titlecase}}</h1>
        <br>
        <div class="container">
          <div class="row">
            <div class="col-xs-6 col-md-3">
              <img class="imgProduto" [src]="produto.imagem">
            </div>
          </div>
        </div>

        <br>
        <h3>{{produto.valorVenda | currency:'BRL'}}</h3>
        <button class="btn btn-success" (click)="comprar()">
          Comprar
        </button>
      </div>

      <!-- Quebra de linha -->
      <br>

      <!-- Link para abrir a descrição do produto -->
      <ul class="nav nav-tabs">
        <li class="nav active">
          <a href="#descricao" data-toggle="tab">Descrição</a>
        </li>
      </ul>

      <!-- Descrição do produto -->

      <p> {{produto.descricao | uppercase}}


        <!-- Quebra de linha -->
        <br><br>
        <br>
        <br>


        <!-- Titulo para mencionar outros Produtos -->
      <h3> Quem viu esse produto também se interessou por: </h3>

      <!-- Quebra de linha -->
      <br>

      <!-- Outros produtos -->
      <div class="row d-flex p-2">
      <div class="col-sm-4 mb-3" *ngFor="let obj of produtosLista">
        <div class="card" style="width: 18rem;">
          <img [src]="obj.imagem" class="card-img-top" alt="produto orgânico">
          <div class="card-body">
            <h5 class="card-title"> {{obj.nome | titlecase}} </h5>
            <p class="card-text"> {{obj.descricao | uppercase}}.</p>
            <h6>{{obj.valorVenda | currency:'BRL'}}</h6>
            <button type="button" class="btn btn-warning btn-block" [routerLink]="['/updateproduct', obj.id]">
              Editar
            </button>


            <a [routerLink]="['/productdescription', obj.id]" class="btn btn-info">
              Comprar
            </a>

          </div>
        </div>


      </div>
    </div>

    
  </div>